/* チェックボックスサイズの変更 */
.chkbox {
  margin:			0 0 10px 0px;
}
/* ラベルのスタイル　*/
.chkbox label {
  padding-left:		20px;			/* ラベルの位置 */
  font-size:		18px;
  line-height:		18px;
  display:		inline-block;
  cursor:			pointer;
  position:		relative;
}

/* ボックスのスタイル */
.chkbox label:before {
  content:		'';
  width:			18px;			/* ボックスの横幅 */
  height:			18px;			/* ボックスの縦幅 */
  display:		inline-block;
  position:		absolute;
  left:			0;
  background-color:	#fff;
  box-shadow:		inset 1px 2px 3px 0px #000;
  border-radius:		6px 6px 6px 6px;
}

/* チェックボックスを大きく
   元のチェックボックスを表示しない */
.chkbox input[type=checkbox] {
  display:		none;
}
/* チェックした時のスタイル */
.chkbox input[type=checkbox]:checked + label:before {
  content:		'\2713';		/* チェックの文字 */
  font-size:		18px;			/* チェックのサイズ */
  color:			#fff;			/* チェックの色 */
  background-color:	#06f;			/* チェックした時の色 */
}

/* ラジオボタンを大きく */
 .radiobutton label {
	padding: 0 0 0 24px;	/* ラベルの位置 */
	font-size: 16px;
	line-height: 28px;		/* ボタンのサイズに合わせる */
	display: inline-block;
	cursor:	pointer;
	position: relative;
}
.radiobutton label:before {
	content: '';
	width: 28px;		/* ボタンの横幅 */
	height: 28px;		/* ボタンの縦幅 */
	position: absolute;
	top: 0;
	left: 0;
	background-color: #00f;
	border-radius: 50%;
}
.radiobutton input[type="radio"] {
	display: none;
}
.radiobutton input[type="radio"]:checked + label:after {
	content: '';
	width: 10px;		/* マークの横幅 */
	height: 10px;		/* マークの縦幅 */
	position: absolute;
	top: 9px;
	left: 9px;
	background-color: #fff;
	border-radius: 50%;
}
